.broswer {
    h2 {
        text-align:center;
    }
}

.browser-movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


    .fa-heart {
        color: red;
    }

    span {
        color: white;
    }
}

.browser-pagination {
    text-align: center;
}

.browser-sort {
    text-align: center;
    
}